#favorite{ id: @item.id }
  - if !Favorite.exists?(user: current_user, item_id: @item.id)
    = link_to item_favorites_path(@item), method: :item, remote: true, class: "favorite-btn favorite-item" do
      %i{class: "fa fa-star"}
      お気に入り♡

  - else
    = link_to item_favorites_path(@item), method: :delete, remote: true, class: "favorite-btn favorite-delete" do
      %i{class: "fa fa-star"}
      お気に入り♡
