%aside.Banner
  .mainB
    %h2.mainB__title
      だれでもかんたん、人生を変えるフリマアプリ
    %h2.mainB__text 今すぐ無料ダウンロード!
    .mainB__icon
      = link_to '#', class: 'Btn' do
        = image_tag 'app-badge.png', class: 'app'
      = link_to '#', class: 'Btn' do
        = image_tag 'google-badge.png', class: 'app'
