%aside.Banner
  .main
    %h2.main__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.main__text 今すぐ無料ダウンロード!
    .main__icon
      = link_to '#', class: 'Btn' do
        = image_tag 'appstore.png', class: 'app'
      = link_to '#', class: 'Btn' do
        = image_tag 'googleplay.png', class: 'app'
