%headder

%main
  %section.sell-container
    -# = form_with model: @item do |f|

    -# 画像部分
    .sell-container__content
      .sell-title
        %h3.sell-title__text
          出品画像
          %span.sell-title__require
            必須
      .sell-container__content__max-sheet 最大10枚までアップロードできます
      .sell-container__content__upload
        .sell-container__content__upload__items
          .sell-container__content__upload__items__box
            %div.output-box
              %div.image-input{tabindex:"0"}
                

    -#商品名部分
    .sell-container__content
      .sell-title
        %h3.sell-title__text
          商品名
          %span.sell-title__require
            必須

      .sell-title
        %h3.sell-title__text
          商品の説明
          %span.sell-title__require
            必須


    -# 詳細部分
    .sell-container__content
      %h3.sell-sub-head 商品の詳細
      .sell-container__content__details
        .sell-title
          %h3.sell-title__text
            カテゴリー
            %span.sell-title__require
              必須

          .sell-title
            %h3.sell-title__text
              商品の状態
              %span.sell-title__require
                必須


    -# 配送部分
    .sell-container__content
      %h3.sell-sub-head
        %p 配送について

      .sell-container__content__delivery
        .sell-title
          %h3.sell-title__text
            配送料の負担
            %span.sell-title__require
              必須

        .sell-title
          %h3.sell-title__text
            発送元の地域
            %span.sell-title__require
              必須

        .sell-title
          %h3.sell-title__text
            発送までの日数
            %span.sell-title__require
              必須

    -# 価格部分
    .sell-container__content
      %h3.sell-sub-head
        %p 販売価格(300〜9,999,999)
      .sell-container__content__price
        .sell-title
          %h3.sell-title__text
            販売価格
            %span.sell-title__require
              必須
