// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.category-lists {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  padding: 40px;
  .category-body {
    width: 700px;
    margin: 0 auto;
    padding: 16px 8px;
    .category-parents {
      height: 250px;
      margin-bottom: 20px;
      &__index {
        &--name {
          color: #333;
          float: left;
          min-width: 80px;
          background-color: #ffffff;
          margin: 5px;
          border-radius: 4px;
          line-height: 40px;
          box-shadow: 0 0 5px rgba(0,0,0,0.4);
          text-align: center;
          padding: 0 30px;
          &:hover {
            background-color: #3CCACE;
            color: #ffffff;
          }
        }
      }
    }
  }
  .category-lists {
    background-color: #ffffff;
    border-radius: 5px;
    &__parent {
      border-radius: 5px 5px 0 0;
      padding: 16px 10px 8px;
      margin-bottom: 10px;
      background-color: #3CCACE;
      text-align: left;
      font-weight: bold;
      font-size: 22px;
      color: #ffffff;
    }
    &__child {
      margin: 20px 0 0 20px;
      color: #333333;
      font-weight: bold;
      font-size: 16px;
    }
    .contents {
      padding: 10px 30px 20px;
      display: inline-block;
      width: 100%;
      &__grand-child {
        line-height: 35px;
        width: calc(100% / 2);
        float: left;
        color: #fca31e;
        font-size: 14px;
      }
    }
    .topBtn {
      &__text {
        margin: 0px 0 15px 20px;
        font-size: 18px;
        color: #333333;
      }
    }
  }
}